# Normalize line endings
* text=auto

# Treat common binary formats
*.png binary
*.jpg binary
*.jpeg binary
*.tif binary
*.tiff binary
*.h5 binary
*.hdf5 binary
*.pth binary
*.pt  binary
*.ckpt binary
*.bin binary
*.joblib binary
*.ipynb text eol=lf
